<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http use-expressions="true" auto-config='true' disable-url-rewriting="false">
              <!-- enable remember me -->
            <remember-me 
                token-validity-seconds="1209600"
                remember-me-parameter="remember-me" 
                data-source-ref="secDataSource" />
            <csrf disabled="true"/>
            <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
            <intercept-url pattern="/customer**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
            <!--<intercept-url pattern="/customer**" access="isAuthenticated()" />-->
<!--            <intercept-url pattern="/**" access="isAuthenticated()" />-->
<!--            <intercept-url pattern="/j_spring_security_check" access="isAuthenticated()" />-->
            <form-login login-processing-url="/j_spring_security_check" 
                        login-page="/login" default-target-url="/index"
                        always-use-default-target="false" authentication-failure-url="/login?error"
                username-parameter="user_login" password-parameter="password_login"/>
            <logout logout-success-url="/" invalidate-session="true" logout-url="/logout" />
	</http>

	<authentication-manager>
            <authentication-provider user-service-ref="jdbcGroupsImpl">
    <!--	    <user-service>
                    <user name="admin" password="{noop}admin" authorities="ROLE_ADMIN,ROLE_USER" />
                    <user name="user" password="{noop}user" authorities="ROLE_USER" />
                </user-service>-->
<!--                <jdbc-user-service data-source-ref="secDataSource" />-->
                <password-encoder ref="passwordEncoder" />
            </authentication-provider>
	</authentication-manager>

        <beans:bean id="jdbcGroupsImpl" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
            <beans:property name="enableGroups" value="true"/>
            <beans:property name="enableAuthorities" value="false"/>
            <beans:property name="dataSource" ref="secDataSource"/>
        </beans:bean>
        
    <beans:bean id="secDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url"
                  value="jdbc:mysql://localhost:3306/langstudy"/>
        <beans:property name="username" value="root"/>
        <beans:property name="password" value="root"/>
    </beans:bean>
    
    <beans:bean id ="passwordEncoderNoop" class = "org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method = "getInstance" /> 
    <beans:bean id ="passwordEncoder" class = "org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" /> 
</beans:beans>
